__pycache__/
*.pyc
*.pyo
venv/
env/
*.log
*.tmp
/servidor/__pycache__/
/cliente/__pycache__/
/cliente/static/
/banco/__pycache__/
/banco/static/
/protocolo/__pycache__/
.dockerignore
*.tar
*.container
*.qrc
*.ui
.env
agronet.db
banco/agronet.db
setup_eduardo.sh
