__pycache__/
*.pyc
*.pyo
venv/
env/
*.log
*.tmp
/servidor/__pycache__/
/client/__pycache__/
/banco/__pycache__/
/protocolo/__pycache__/
.dockerignore
*.tar
*.container
*.qrc
*.ui
.env
agronet.db
setup_eduardo.sh
